<% provide(:title, 'friend watches feed') %>
<% @watches.each do |friend_watch| %>
  <%= render 'friend_watch', friend_watch: friend_watch %>
<% end %>
<div class="digg_pagination">
<%= will_paginate @watches %>
</div>
