<h1><%=@movie.title%> - released soon! </h1>

<p>Hi <%= @user.name %> just to let you know that <%=@movie.title%> is out on <%=@movie.release_date.strftime("%m/%d/%Y")%>.</p>

<p>
Check out the local listings to see when it is on!
</p>