<% provide(:title, 'select movie') %>
<div class="row">
<div class="col-sm-9"></div>
<div class="col-sm-2">
<%= link_to "skip - add manually", new_movie_path %>
</div>
</div>
<ul class="basic">
<% @tmdb_movies.each do |tmdb_movie| %>
  <li>
    <%= poster_for tmdb_movie %>
    <%= link_to tmdb_movie["title"], tmdb_movie_path(tmdb_movie["id"]) %>
    <%= link_to "select", new_movie_path( tmdb_id: tmdb_movie["id"] ) %>
  </li>
<% end %>
</ul>