<% provide(:title, 'movies') %>

<% if logged_in? %>
  <%= link_to "add new movie", tmdb_movies_path %>
<% end %>

<div class="row">
  <ol class="list-group">
    <%= render @movies %>
  </ol>
</div>

<%= will_paginate @movies %>
