<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-sm-12">
    <h4>Movies Watched Per Month</h4>
    <%= line_chart charts_users_watches_watch_path, height: "200px" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>Cinemas Used <small>(excludes movies where no location recorded)</small></h4>
    <%= pie_chart charts_users_watches_location_cinema_path, height: "200px" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>Ratings Summary <small>(excludes unrated movies)</small></h4>
    <%= bar_chart charts_users_watches_rating_path, {download: true, height: "100px"} %>
  </div>
</div>