<div class="container">
  <div class="media-list my-2">
    <% provide(:title, 'contact') %>
    <p>
    If you have any queries please contact me 
    <%= mail_to "wallacemovielog@gmail.com", "on this email",
             subject: "My Movie Log Request" %> I will get back to you as soon as possible.
    </p>
  </div>
</div>