<% provide(:title, 'home') %>
<% if logged_in? %>
  <div class="center jumbotron">
    <h1>welcome to the my movie log</h1>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>welcome to the my movie log</h1>

    <h2>
      This is the home page for the my movie log application.
    </h2>

    <h3>
      Where you can log the movies you watch, the subscriptions you pay and keep track to see if you are getting value for money!
    </h3>
    
    <br>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>