<% provide(:title, 'home') %> 
<div class="poster-grid-container shadow">
  <div class="introduction">
    <p class="lead">Welcome to viewlog.me the application to track your viewing habits and see if you get value from your subscriptions</p>

    <% if !logged_in? %>
      <p>
        Please feel free to browse around or sign in or sign up:<br />
      </p>
  
      <div class="introduction-buttons">
        <%= link_to login_path, class: "btn btn-primary rounded-pill" do %>
          <i class="fa fa-lock"></i>
          sign in
        <% end %>
        <%= link_to signup_path, class: "btn btn-trestle rounded-pill" do %>
          <i class="fa fa-user-plus"></i>
          sign up
        <% end %>      
      </div>
    <% end %>
  </div>

  <ul class="poster-grid">
    <% @posters.each do |poster| %>
      <li><%= poster_for_path poster.tmdb_poster_path,"", size: 342  %></li>
    <% end %>
  </ul>
</div>