<div class="container">
    <div class="media-list my-2">
<% provide(:title, 'privacy policy') %>

<h3>privacy policy </h3>
<div class="privacy-padding">
<p>This privacy policy sets out how my movie log uses and protects any information that you give [business name] when you use this website.
</p>
<p>
my movie log is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
</p>
<p>
my movie log may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from [date].
</p>
</div>
<h4>what we collect</h4>
<div class="privacy-padding">
  <b>We may collect the following information:</b>
  
  <ul>
  <li>name</li>
  <li>contact information email address</li>
  <li>movie subscription and watching information</li>
  </ul>
  
  <b>What we do with the information we gather</b>
  <p>
  We require this information to provide the service of recording movie watching and provide information on how you are using your subscription information.
  We allow your "friends" in the application to see movies you watch to allow them.
  We do not use the data in any other ways e.g. marketing.
  </p>
</div>

<h4>security and cookies</h4>
<div class="privacy-padding">
  <b>Security</b>
  <p>
  We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
  </p>
  
  <b>How we use cookies</b>
  <p>
  A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
  
  We use security cookies to identify you after you have logged on the site as you navigate through the site.
  
  You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
  </p>
  
  <b>Links to other websites</b>
  <p>
  Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
  </p>
</div>
<h4>controlling your data</h4>

<div class="privacy-padding">
  <b>Controlling your personal information</b>
  <p>You may choose to restrict the collection or use of your personal information in the following ways:
  <br>
  You have right to be forgotten and if you wish to be forgotten please contact us <%= mail_to "wallacemovielog@gmail.com", "on this email", subject: "Removal Request" %> and we will complete the request.
  <br>
  We will not sell, distribute or lease your personal information to third parties unless we are required by law to do so. 
  <br>
  You may request details of personal information which we hold about you please contact us  <%= mail_to "wallacemovielog@gmail.com", "on this email", subject: "Data Request" %> and we will complete the request.
  </p>
  
  <p>
  If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible via the contact page. We will promptly correct any information found to be incorrect.
  </p>
</div>
</div>
</div>