<div class="modal fade" id="friends_modal" role="modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Modal Header</h4> -->
        <h4 class="modal-title text-center">liked by</h4>
      </div>
      <div class="modal-body">
        <% @friends.each do |friend| %>
          <p><%= friend.name %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>