<% provide(:title, 'subscription payment watches') %>

<div class="container">
  <ol class="breadcrumb">  
    <li class="breadcrumb-item"><%= link_to "Subscription", subscription_path(@subscription_payment.subscription_id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Watches</li>
  </ol>   
  <div class="media-list my-1">
    <h4><small>watches</small></h4>
    <div class="row">
      <div class="col-md-9">
      <table class= table>
        <tr>
          <th class="poster-column"></th>
          <th class="title">title</th>
          <th>rating</th> 
          <th>date</th>
        </tr>
          <% @subscription_payment_watches.each do |spw| %>
            <%= render 'subscription_payment_watch', watch: spw %>
          <% end %>
      </table>
      </div>
    </div>
</div>
</div>