<%= link_to "<button type=\"button\" class=\"rounded-pill small_icon_button\"><i class=\"fa fa-bell\"></i></button>".html_safe, 
  movie_interest_path(movie_interest.id), method: :delete, remote: true %>