<% provide(:title, 'upcoming movies') %>

<div class="row">
  <hr>
  <ol class="list-group">
    <%= render 'upcoming_movie', movies: @upcoming_movies %>
  </ol>
</div>
<div class="digg_pagination">
<%= will_paginate @movies %>
</div>