<% provide(:title, 'upcoming movies') %>
<div class="container">
  <div class="media-list my-1">
    <hr>
    <%= render 'upcoming_movie', movies: @upcoming_movies %>
  </div>
  <div class="digg_pagination">
    <%= will_paginate @movies %>
  </div>
</div>