<% provide(:title, 'subscription watches') %>

<div class="container">
  <ol class="breadcrumb">  
    <li class="breadcrumb-item"><%= link_to "Subscription", subscription_path(@subscription_id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Watches</li>
  </ol>  
  <div class="media-list my-1">
    <div class="row">
      <div class="col-md-9">
      <table class= table>
        <tr>
          <th class="poster-column"></th>
          <th class="title">title</th>
          <th>rating</th> 
          <th>date</th>
        </tr>
        <% @subscription_watches.each do |sw| %>
          <%= render 'subscription_watch', watch: sw %>
        <% end %>
      </table>
      </div>
    </div>
    
    <div class="digg_pagination">
    <%= will_paginate @subscription_watches %>
    </div>
</div>
</div>
