<% provide(:title, 'subscription watches') %>

<%= link_to "back to subscription", subscription_path(@subscription_id) %>

<h4><small>watches</small></h4>
<div class="row">
  <div class="col-sm-6">
  <table>
    <tr>
      <th>title</th>
      <th>rating</th> 
      <th>date</th>
    </tr>
    <% @subscription_watches.each do |sw| %>
      <%= render 'subscription_watch', watch: sw %>
    <% end %>
  </table>
  </div>
</div>

<%= will_paginate @subscription_watches %>
