<% provide(:title, 'your subscriptions') %>

<%= link_to "add new subscription", new_subscription_path %>

<table>
    <tr>
    <th/>          
    <th>name</th>
    <th>amount</th> 
    <th>next_due</th>
    <th class="hidesmall">start_date</th>
    <th class="hidesmall">end_date</th>
  </tr>
  <%= render @subscriptions %>
</table>

