<% provide(:title, 'locations') %>

<% if logged_in? %>
  <%= link_to "add new location", new_location_path %>
<% end %>

<table>
    <tr>
    <th/>
    <th>name</th>
    <th class="hidesmall">type</th> 
    <th class="hidesmall">website</th>
    <th class="hidesmall">postcode</th>
  </tr>
  <%= render @locations %>
</table>

<%= will_paginate @locations %>
