<div class="page-footer bg-dark">
  <p>Copyright &copy; <%= Date.today.year %> Hamnavoe Partners — All rights reserved.</p>
  <ul id="horizontal-list">
    <li><%= link_to 'about', about_path %></li>
    <li>/</li>
    <li><%= link_to 'privacy policy', privacy_path %></li>
    <li>/</li>
    <li><%= link_to 'contact', contact_path %></li>
  </ul>
</div>