<footer class="footer">
  <small>
    The <%= link_to "my movie log", root_path %>
    by <a href="#">hamnavoe software</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about",   about_path %></li>
      <li><%= link_to "contact", contact_path %></li>
    </ul>
  </nav>
</footer>