<footer class="footer">
  <small>
    <%= link_to "my movie log", root_path %>
    by <a href="#">hamnavoe software</a>
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "about",   about_path %></small></li>
      <li><small><%= link_to "contact", contact_path %></small></li>
    </ul>
  </nav>
</footer>