<div class="col-sm-2 sidenav">
  <br>
  <h4><%= link_to "my movie log", root_path, id: "logo" %></h4>
  <br>
  <br>
  <br>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">movies</a></li>
    <li><a href="#section2">visits</a></li>
    <li><a href="#section3">sign out</a></li>
  </ul>
</div>